$font-family: 'Neue Haas Grotesk Display Pro';
.MarketOverview{
    display: flex;
    flex-direction: column;
    padding-top:24px;
    gap: 24px;
    width: 100%;
    &__header{
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        align-self: left;
    }
    &__circumInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .circumInfo_BoxContainer{
            border: 1px solid #2B2E31;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            height:97px;
            background-color: #1E2121;
            width:241.33px;
            padding:24px;
            &__circumdesc{
                font-family: $font-family;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                color:#8D8E8D;

            }
            &__curcuminfoblock{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width:100%;
            }
            &__curcumvalblock{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width:100%;
                font-family: $font-family;
                .fontPercent{
                    font-family: $font-family;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17px;
                    text-align: left;
                    color:green
                }
            }
            &__BOX{
                display: flex;
                flex-direction: column;
                gap:10px;
            }
        }
    }
    &__chartoptionboard{
        display: flex;
        flex-direction: row;
        width:100%;
        .chartoptionlist{
            display: flex;
            flex-direction: row;
            gap:7px;
            align-items: center;
            align-content: flex-end;
            width:100%;
            &__chartcolor{
                width:14px;
                height:14px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
}
        }
    }
}